*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:black;
    color:white;
    font-family:Arial;
    text-align:center;
}

/* CONTENEDOR */
.contenedor{
    width:90%;
    max-width:1200px;
    margin:auto;
}

/* HEADER */
header{
    background:black;
    padding:2rem;
}

/* NAV */
nav{
    background:#222;
    padding:1rem;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
}

nav a:hover{
    color:gray;
}

/* PRODUCTOS */
.productos{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    margin-top:20px;
}

.card{
    background:#111;
    padding:15px;
    width:200px;
    border-radius:10px;
}

.card img{
    width:100%;
}

/* BOTÓN */
.btn{
    background:white;
    color:black;
    padding:10px;
    border:none;
    cursor:pointer;
    margin-top:10px;
}

footer{
    margin-top:30px;
    padding:1rem;
    background:#111;
}

/* RESPONSIVE */
@media(max-width:600px){
    .card{
        width:100%;
    }
}

/* SOLO CENTRAR LA CARD DE UBICACIÓN */
.contenedor .card{
    margin: 20px auto; /* centra horizontalmente */
    display: block;
    text-align: center;
}

/* CENTRAR CONTENIDO VERTICAL Y HORIZONTAL EN PRODUCTOS */
.productos .card{
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra vertical */
    align-items: center;     /* centra horizontal */
    text-align: center;
}